input{
    &[type="text"], &[type="password"], &[type="date"]{
        width: 100%;
        height: $height-input;
        border: 1px solid #2929295b;
        border-radius: 6px;
    
        &:focus {
            outline: none;
        }

    }
}

h1, h2, h3 {
    font-family: Montserrat-bold, sans-serif !important;
}

.input-errors {
    color: $color-error;
    font-size: $font-error;
}

.has-error {
    border: 1px solid $color-error !important;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100vh;

    section {
        width: 1440px;
        padding: 50px 10px;
    }
}