@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: Montserrat-bold;
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('ttf');
    font-display: swap;
}